@let taskError = openAdminTasksErrors | async;

<div class="side-panel"></div>

<div id="table-outer-container">

  <section id="table-container" #tableContainer>

    @let taskData = tasks | async;

    @if (taskData) {

    <table mat-table [dataSource]="taskData" class="mat-elevation-z8">

      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
        <td mat-cell *matCellDef="let row"> {{row[column.field]}} </td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data to show</td>
      </tr>
    </table>

    }

    @else {

    <div id="spinner-error-display">
      @if (taskError) {

      <pre>{{taskError | json }}</pre>

      }

      @else {

      <mat-spinner></mat-spinner>

      }

    </div>

    }
  </section>
</div>

<div class="side-panel">

  @if (!taskError) {

  <app-right-panel id="right-panel" (vehicleLinesSet)="vehicleLinesSet.next($event)" (bins)="bins.next($event)"
    (binSelectionChange)="binSelectionChange.next($event)"
    [binsNotAssignedToTeam]="(binsNotAssignedToTeam | async) ?? []" [binPartCountChanged]="tasksAndBins | async"
    [tasks]="(tasks | async) ?? []" [tableHTML]="tableContainer.innerHTML" />

  }
</div>
