<ng-template #snackBarTemplate>
  <section id="snackBarContents">
    <span matSnackBarLabel class="snackBarLabel">Table data copied to clipboard</span>
    <span matSnackBarActions>
      <button mat-icon-button matSnackBarAction (click)="snackBarRef?.dismissWithAction()"
        aria-label="Close 'data copy' confirmation">
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
    </span>
  </section>
</ng-template>

@let scrollBarWidth = binConfigScroller.offsetWidth - binConfigScroller.clientWidth;
@let rightPadding = 'max(calc(var(--gap-size) - ' + scrollBarWidth + 'px), 2px)';

<span id="largestCount" #largestCount>{{maxPartCount | async}}</span>

@let partCountWidth = largestCount.getBoundingClientRect().width;

<div id="sticky-section">
  <div id="buttons-container">
    <div>
      @let selectedCount = selectedBinCount | async;
      @let selected = selectedCount?.selected ?? 0;
      @let all = selectedCount?.all ?? 1;

      @let downloadAll = selected == 0 || selected == all;
      @let downloadButtonText = downloadAll ? 'all' : 'selected';

      @let downloadLinkAndName = downloadLink | async;

      @let filteredTaskCount = tasks()?.length ?? 0;
      @let allTaskCount = unfilteredTaskCount() ?? 1;
      @let overlayPercentage = ((filteredTaskCount == 0 ? 1 : (filteredTaskCount / allTaskCount)) * 100) + '%';

      @let dataTransferParams = [
      {format: 'DownloadURL', data: downloadLinkAndName?.dragAndDropDownloadURL ?? ''},
      {format: mimeTypeHTML, data: tableHTML()}
      ];

      @let copyLabel = 'Copy ' + downloadButtonText;

      <button mat-mini-fab [disabled]="!tasks()" draggable="true" dataTransferSet
        [dataTransferSetParams]="dataTransferParams" [attr.aria-label]="copyLabel" [title]="copyLabel"
        (click)="copyTableDataToClipboard()" id="left-button">

        <mat-icon fontSet="material-symbols-outlined">content_copy</mat-icon>
        <mat-icon [style.--overlay-percentage]="overlayPercentage" fontSet="material-symbols-outlined"
          class="icon-overlay">content_copy</mat-icon>
      </button>

      @let downloadLabel = 'Download ' + downloadButtonText;

      <a mat-mini-fab [href]="downloadLinkAndName?.url" [download]="downloadLinkAndName?.name"
        [disabled]="!downloadLinkAndName" dataTransferSet [dataTransferSetParams]="dataTransferParams"
        [attr.aria-label]="downloadLabel" [title]="downloadLabel" id="right-button">

        <mat-icon fontSet="material-symbols-outlined">file_save</mat-icon>
        <mat-icon [style.--overlay-percentage]="overlayPercentage" fontSet="material-symbols-outlined"
          class="icon-overlay">file_save</mat-icon>
      </a>

    </div>

    <mat-slide-toggle #editSwitch labelPosition="before">Edit</mat-slide-toggle>
  </div>

  @let bins = binsNotAssignedToTeam();

  @if (bins && bins.length > 0) {
  <mat-form-field floatLabel="always" appearance="outline" class="team-members">
    <mat-label>No team</mat-label>

    <mat-chip-grid #noTeamMembersDisplay multiple aria-label="No team distribution bins"
      class="mat-mdc-chip-set-stacked">


      @for (bin of bins; track bin.name) {

      <mat-chip-option [selected]="bin.isSelected" (selectionChange)="onBinSelectionChange($event.selected, bin)">
        <div class="bin-data-row">
          <span class="bin-name" [draggable]="!editingDisabled" dataTransferSet>{{bin.name}}</span>

          @if (partCountWidth ?? 0 > 0) {
          <mat-divider vertical="true"></mat-divider>
          <span [style.width.px]="partCountWidth" class="bin-part-count" [style.--part-count]="bin.partCount"></span>
          }
        </div>
      </mat-chip-option>

      }

    </mat-chip-grid>

    <input [disabled]="true" [matChipInputFor]="noTeamMembersDisplay" />
  </mat-form-field>
  }
</div>

<section #binConfigScroller id="bin-config-scroller">

  <div [style.padding-right]="rightPadding" id="bin-config-container">
    @let editingDisabled = !editSwitch.checked;

    @let binsByTeam = binsWithPartCountByTeam | async;

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Absolute team vehicle lines</mat-label>
      <mat-chip-grid #vehicleLinesDisplay aria-label="Absolute team vehicle lines">

        @for (vehicleLine of vehicleLines(); track vehicleLine) {

        <mat-chip-row>
          {{vehicleLine}}

          <button matChipRemove [disabled]="editingDisabled" [attr.aria-label]="'Remove ' + vehicleLine"
            (click)="removeVehicleLine($index)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        }

      </mat-chip-grid>

      <input #vehicleLineInput placeholder="Add vehicle line..." [disabled]="editingDisabled"
        [matChipInputFor]="vehicleLinesDisplay"
        (matChipInputTokenEnd)="addVehicleLine($event.value); $event.chipInput.clear()"
        [matAutocomplete]="vehicleLineAutoComplete" [(ngModel)]="currentVehicleLine" />

      <mat-autocomplete #vehicleLineAutoComplete
        (optionSelected)="addVehicleLine($event.option.viewValue); currentVehicleLine.set(vehicleLineInput.value = '')">
        @for (vehicleLineForAutoComplete of vehicleLinesForAutoComplete | async; track vehicleLineForAutoComplete) {

        <mat-option [value]="vehicleLineForAutoComplete">{{vehicleLineForAutoComplete}}</mat-option>

        }
      </mat-autocomplete>
    </mat-form-field>

    @for (team of teams; track team) {

    @let bins = binsByTeam?.get(team);

    <mat-form-field floatLabel="always" appearance="outline" class="team-members" dropzone="copy"
      (dragover)="!editingDisabled ? $event.preventDefault() : undefined"
      (drop)="addBin($event.dataTransfer?.getData('text/plain') ?? '', team)">
      <mat-label>{{team}} team</mat-label>

      <mat-chip-grid #teamMembersDisplay multiple attr.aria-label="{{team}} team distribution bins"
        class="mat-mdc-chip-set-stacked">

        @for (bin of bins; track bin.name) {

        <mat-chip-option [selected]="bin.isSelected" (selectionChange)="onBinSelectionChange($event.selected, bin)">
          <div class="bin-data-row">
            <span class="bin-name" [draggable]="!editingDisabled" dataTransferSet>{{bin.name}}</span>

            @if (partCountWidth ?? 0 > 0) {
            <mat-divider vertical="true"></mat-divider>
            <span [style.width.px]="partCountWidth" class="bin-part-count" [style.--part-count]="bin.partCount"></span>
            }
          </div>
          <button matChipRemove [disabled]="editingDisabled" [attr.aria-label]="'Remove ' + bin.name"
            (click)="removeBin(bin, team)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>

        }
      </mat-chip-grid>

      <input [disabled]="editingDisabled" placeholder="Add name..." [matChipInputFor]="teamMembersDisplay"
        (matChipInputTokenEnd)="addBin($event.value, team); $event.chipInput.clear()" />
    </mat-form-field>

    }
  </div>

</section>
