{
  "singleQuote": true,
  "trailingComma": "none",
  "parser": "typescript",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "endOfLine": "crlf",
  "tabWidth": 2
}